################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Imvelo/.vs/Imvelo.slnx/FileContentIndex
.vs/
